<div class="card">
  <div class="card-header">
    Income Report 2018
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-sm-2">
        <label for="year">Year</label>
        <select class="form-control" [(ngModel)]="year" id="year">
          <option *ngFor="let y of years" [ngValue]="y.key">{{y.value}}</option>
        </select>
      </div>

      <div class="form-group col-sm-2">
        <label for="month">Month</label>
        <select class="form-control" [(ngModel)]="month" id="month">
          <option *ngFor="let m of months" [ngValue]="m.key">{{m.value}}</option>
        </select>
      </div>

      <div class="col-sm-2">
        <button style="margin-top: 27px" type="button" class="btn btn-primary" (click)="buildChart()">
          Search
        </button>
      </div>
    </div>

    <div class="chart-wrapper">
      <canvas baseChart class="chart"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
