<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form [formGroup]="searchForm" (ngSubmit)="searchFoods(searchForm.value)">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="search_string" placeholder="Search">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-success pull-right ml-2" (click)="openAddNewFoodModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> New Food
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <ul class="nav nav-pills nav-pills-info">
        <button [class.selected]="selectedGroup == 0"
                class="btn btn-default mr-1" data-toggle="tab" (click)="getFoods(FIRST_PAGE, pageSize)">All Foods
        </button>

        <li *ngFor="let group of groups">
          <button [class.selected]="group === selectedGroup"
                  class="btn btn-default mr-1" data-toggle="tab" (click)="onSelect(group)">{{group.name}}
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="title text-primary">{{title}}</h4>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="text-info">
            <tr class="d-flex">
              <th class="col text-center">Name</th>
              <th class="col">Price</th>
              <th class="col">Description</th>
              <th class="col">Discount</th>
              <th class="col">Note</th>
              <th class="col text-center">Action</th>
            </tr>
            </thead>
            <tbody class="large">
            <tr class="d-flex"
                *ngFor="let food of foods | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
              <td class="col text-center">
                <img src={{food.main_image}} class="w-100" style="width: 100px; height: 100px">
                <b>{{food.name}}</b>
              </td>
              <td class="col">{{food.price | currency:'USD':true}}</td>
              <td class="col">{{food.description}}</td>
              <td class="col">{{food.discount}}</td>
              <td class="col">{{food.note}}</td>
              <td class="col text-center">
                <button type="button" class="btn btn-warning" (click)="openEditFoodModal(food.id)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="openDeleteModal(food.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="getFoods($event, this.pageSize)" class="text-center"></pagination-controls>
</div>


<!---------------------------------------Modal--------------------------------------->

<div bsModal #addNewFoodModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">New Food</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="rForm" (ngSubmit)="addFood(rForm.value)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Price ($)</label>
                <input type="text" class="form-control" formControlName="price">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h6>Main Image</h6>
              <img *ngIf="main_image_url" src="{{main_image_url}}" width="200px" height="200px">
              <input class="btn" type="file" id="main_image" (change)="onMainImageChange($event)" #fileInput>
            </div>
          </div>

          <div formArrayName="images" class="well well-lg">
            <div *ngFor="let image of images.controls; let i=index" [formGroupName]="i">
              <h6>Sub Image #{{i + 1}}</h6>
              <div style="margin-left: 1em;">
                <div class="form-group">
                  <img *ngIf="this['url'+i]" src="{{this['url'+i]}}" width="100px" height="100px">
                  <input type="file" id="avatar" (change)="onSubImagesChange($event, i)" #fileInput>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" (click)="addNewImage()" type="button">Add a new subimages</button>
          </div>

          <h6 class="mt-4">Category</h6>
          <div class="row mt-2">
            <div class="col" *ngFor="let group of groups" formArrayName="food_group_ids">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"
                         (change)="updateChkbxArray(group, $event.target.checked, 'food_group_ids')" value="group.id">
                  {{group.name}}
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Description</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Note</label>
                <input type="text" class="form-control" formControlName="note">
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeAddNewFoodModal()">Close</button>
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-danger">Delete</h2>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteFood(selectedFoodId)">Yes</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #editFoodModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">Edit Food</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="rForm" (ngSubmit)="updateFood(rForm.value)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Name</label>
                <input type="text" [(ngModel)]="food.name" class="form-control"
                       formControlName="name">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Price ($)</label>
                <input type="text" [(ngModel)]="food.price" class="form-control"
                       formControlName="price">

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div>
                <label class="control-label">Main Image</label>
              </div>
              <img *ngIf="main_image_url" src="{{main_image_url}}" width="200px" height="200px">
              <img *ngIf="!main_image_url" src="{{food.main_image}}" width="200px" height="200px">
              <input class="btn" type="file" id="main_image" (change)="onMainImageChange($event)" #fileInput>
            </div>
          </div>

          <h6 class="mt-4">Category</h6>
          <div class="row mt-2">
            <div class="col" *ngFor="let group of groups">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="group.checked"
                         [ngModelOptions]="{standalone: true}" (change)="checkStatus($event, group)">
                  {{group.name}}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Description</label>
                <input type="text" [(ngModel)]="food.description" class="form-control"
                       formControlName="description">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Note</label>
                <input type="text" [(ngModel)]="food.note" class="form-control"
                       formControlName="note">
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeEditFoodModal()">Close</button>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
