<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form [formGroup]="searchForm" (ngSubmit)="searchRestaurants(searchForm.value)">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="search_string" placeholder="Search">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-success pull-right ml-2" (click)="openAddNewRestaurantModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> New Restaurant
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h4 class="title text-primary">{{totalItems}} Restaurants</h4>
        </div>
        <div class="card-body">
          <div class="list-group"
               *ngFor="let restaurant of companies | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <button class="btn btn-secondary pull-right" type="button" (click)="openDeleteModal(restaurant.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <div class="card-block px-3">
                <a [routerLink]="[restaurant.id, 'users']">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{restaurant.name}}</h5>
                  </div>
                </a>
                <p class="mb-1" [innerHTML]="restaurant.description | keepHtml"></p>
                <small *ngIf="restaurant.Users && restaurant.Users.length > 0" class="text-muted">Owner's email:
                  {{restaurant.Users[0].email}}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="getRestaurants($event, this.pageSize)" class="text-center"></pagination-controls>
</div>

<!---------------------------------------Modal--------------------------------------->

<div bsModal #addNewRestaurantModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">New Restaurant</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="companyForm" (ngSubmit)="addRestaurant(companyForm.value)">
          <div formGroupName="company">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Name</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h4>Main Image</h4>
                <img *ngIf="main_image_url" src="{{main_image_url}}" width="200px" height="200px">
                <input class="btn" type="file" id="image" (change)="onMainImageChange($event)" #fileInput>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Description</label>
                  <quill-editor formControlName="description"></quill-editor>
                  <!--<input type="text" class="form-control" formControlName="description">-->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Country</label>
                  <input type="text" class="form-control" formControlName="country">
                </div>
              </div>

              <div class="col">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">District</label>
                  <input type="text" class="form-control" formControlName="district">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Address</label>
                  <input type="text" class="form-control" formControlName="address">
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeAddNewRestaurantModal()">Close</button>
            <button type="submit" class="btn btn-success">Create</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-danger">Delete</h2>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteRestaurant(selectedRestaurantId)">Yes</button>
      </div>
    </div>
  </div>
</div>

<!--<div bsModal #editRestaurantModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"-->
<!--aria-labelledby="myLargeModalLabel"-->
<!--aria-hidden="true">-->
<!--<div class="modal-dialog modal-lg">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title pull-left text-primary">Edit Restaurant</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<form [formGroup]="rForm" (ngSubmit)="updateRestaurant(rForm.value)">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group form-black label-floating is-empty">-->
<!--<label class="control-label">Name</label>-->
<!--<input type="text" [(ngModel)]="food.name" class="form-control"-->
<!--formControlName="name">-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-6">-->
<!--<div class="form-group form-black label-floating is-empty">-->
<!--<label class="control-label">Price ($)</label>-->
<!--<input type="text" [(ngModel)]="food.price" class="form-control"-->
<!--formControlName="price">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<label class="control-label">Restaurant Image</label>-->
<!--<image-upload (change)="onFileSelected($event)" id="main_image"></image-upload>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div class="form-group label-floating has-success">-->
<!--<label class="control-label">Category</label>-->
<!--<select class="form-control" formControlName="food_group_id" [(ngModel)]="food.food_group_id">-->
<!--<option *ngFor="let group of groups" value="{{group.id}}">{{group.name}}</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="form-group form-black label-floating is-empty">-->
<!--<label class="control-label">Description</label>-->
<!--<input type="text" [(ngModel)]="food.description" class="form-control"-->
<!--formControlName="description">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="form-group form-black label-floating is-empty">-->
<!--<label class="control-label">Note</label>-->
<!--<input type="text" [(ngModel)]="food.note" class="form-control"-->
<!--formControlName="note">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-default" (click)="closeEditRestaurantModal()">Close</button>-->
<!--<button type="submit" class="btn btn-success">Update</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
