<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-success pull-right ml-2" [routerLink]="['./new']">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <h4 class="title text-primary">Combos</h4>
    </div>
    <div class="card-body">
      <div class="row mt-2">
        <div class="col">
          <table class="table table-hover">
            <thead class="text-info">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Foods</th>
              <th scope="col">Price</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody class="large">
            <tr
              *ngFor="let set_food of set_foods | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
              <td>
                <img src={{set_food.image}} style="width: 100px; height: 100px">
                <div><b>{{set_food.name}}</b></div>
              </td>
              <td>
                <ul *ngFor="let food of set_food.foods">
                  <li>{{food.name}}</li>
                </ul>
              </td>
              <td>{{set_food.price}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-warning" [routerLink]="[set_food.id, 'edit']">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>

                <button type="button" class="btn btn-danger" (click)="openDeleteModal(set_food.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="getSets($event, this.pageSize)"
                               class="text-center"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------Modal--------------------------------------->

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-danger">Disable</h2>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteCombo(selectedComboId, 0)">Yes</button>
      </div>
    </div>
  </div>
</div>

