<div class="row mb-4">
  <div class="col">
    <button type="button" class="btn btn-primary pull-right ml-2" (click)="openNewUserModal()">
      <i class="fa fa-plus" aria-hidden="true"> Add</i>
    </button>
    <button *ngIf="!isMaster" type="button" class="btn btn-secondary pull-right ml-2" (click)="openImportUsers()">
      <i class="fa fa-plus" aria-hidden="true"> Import from Excel</i>
    </button>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="text-primary">All user</h4>
  </div>
  <div class="card-body">
    <table align="right" class="table table-striped table-hover">
      <thead class="table-info">
      <tr>
        <th>First Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody class="large">
      <tr
        *ngFor="let user of users | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: total_users }">
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.email}}</td>
        <td>{{roles_display[user.role_id]}}</td>
        <td align="center">
          <button type="button" class="btn btn-danger" (click)="openDeleteModal(user)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row table-pagination">
      <div class="mx-auto">
        <div class="container py-3">
          <pagination-controls (pageChange)="getAllUsers($event, pageSize)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<!--------------------------------------Modal-------------------------------------->

<div bsModal #NewUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-primary">Create a new account</h1>
      </div>

      <form [formGroup]="rForm" (ngSubmit)="registerUser(rForm.value)">
        <div class="modal-body">
          <div class="container">
            <div class="row mb-3">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input formControlName="fname" type="text" class="form-control" placeholder="First Name">
                </div>
              </div>

              <div class="col">
                <div class="input-group pull-right">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input formControlName="lname" type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <input formControlName="email" type="text" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input formControlName="password" type="password" class="form-control" placeholder="Password">
                </div>
              </div>
            </div>

            <div *ngIf="!isMaster" class="row mb-3">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <select formControlName="role_id" class="form-control">
                    <option value={{roles.admin}}>{{roles_display["1"]}}</option>
                    <option value={{roles.manager}}>{{roles_display["2"]}}</option>
                    <option value={{roles.accountant}}>{{roles_display["3"]}}</option>
                    <option value={{roles.receptionist}}>{{roles_display["4"]}}</option>
                    <option value={{roles.chef}}>{{roles_display["5"]}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <div class="alert alert-danger"
                     *ngIf="(!rForm.controls['fname'].valid && rForm.controls['fname'].touched) || (!rForm.controls['lname'].valid && rForm.controls['lname'].touched) || (!rForm.controls['password'].valid && rForm.controls['password'].touched ) || (!rForm.controls['email'].valid && rForm.controls['email'].touched)">
                  {{titleAlert }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeNewUserModal()">Close</button>
          <input type="submit" value="Create Account" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #ImportUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Create multiples accounts</h1>
      </div>

      <form [formGroup]="importForm" (ngSubmit)="importUsers(importForm.value)">
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file">File input</label>
            <div class="col-md-9">
              <input #inputFile (change)="onFileSelected($event)" type="file" id="file" class="form-control">
            </div>

            <label class="col-md-9 col-form-label">
              Download
              <h6 class="text-export-format d-inline" (click)="export()">file format</h6>
            </label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeImportUsersModal()">Close</button>
          <input type="submit" value="Create accounts" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-danger">Delete</h2>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <b>{{selectedUsername}}</b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(selectedUserId)">Yes</button>
      </div>
    </div>
  </div>
</div>
