<div class="container-fluid center w-80">
  <h2>Create combo</h2>
  <div class="row">
    <div class="col-8">
      <form [formGroup]="rForm" (ngSubmit)="addCombo(rForm.value)">
        <div formGroupName="combo">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label for="image"><img *ngIf="image_url" src="{{image_url}}" width="200px" height="200px"></label>
                    <label for="image">
                      <img *ngIf="!image_url" src="../../../../../assets/img/upload.jpg" width="200px"
                           height="200px">
                    </label>
                    <input class="btn hidden" type="file" id="image" name="image" (change)="onMainImageChange($event)"
                           #fileInput>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Combo name</label>
                    <input type="text" class="form-control" formControlName="name">
                  </div>
                </div>

                <div class="col">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Price</label>
                    <input type="text" class="form-control" formControlName="price">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3>Applies To</h3>
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Foods">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-search btn-primary" (click)="openAssignFoodModal()">
                        Browse
                      </button>
                    </div>
                  </div>

                  <div class="mt-2">
                  <span *ngFor="let food of finalSelectedFoods">
                    <span class="btn-group">
                      <button type="button" class="btn btn-default">{{food.name}}</button>
                      <button type="button" class="btn btn-danger" (click)="removeFoodFromList(food.id)">
                        <span class="caret"><i class="fa fa-minus" aria-hidden="true"></i></span>
                      </button>
                    </span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!---------------------------------------Modal--------------------------------------->

<div bsModal #assignFoodModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">Add foods</h4>
      </div>

      <div class="modal-body">
        <form [formGroup]="searchForm" (ngSubmit)="searchFoods(searchForm.value)">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="search_string" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-search btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>

        <div class="row mt-4">
          <div class="col">
            <ul class="nav nav-pills nav-pills-info">
              <button [class.selected]="selectedGroup == 0"
                      class="btn btn-default mr-1" data-toggle="tab" (click)="getFoods(FIRST_PAGE, pageSize)">All Foods
              </button>

              <li *ngFor="let group of groups">
                <button [class.selected]="group === selectedGroup"
                        class="btn btn-default mr-1" data-toggle="tab" (click)="onSelect(group)">{{group.name}}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody class="large">
          <tr
            *ngFor="let food of foods | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
            <td><input type="checkbox" [(ngModel)]="food.checked" (change)="checkStatus($event, food)"></td>
            <td>
              <b>{{food.name}}</b>
            </td>
            <td>{{food.price | currency:'USD':true}}</td>
          </tr>
          </tbody>
        </table>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeAssignFoodModal()">Close</button>
          <button type="submit" class="btn btn-success" (click)="saveStatus()">Assign</button>
        </div>
      </div>
    </div>
  </div>
</div>
