<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-success pull-right ml-2" [routerLink]="['./new']">
        <i class="fa fa-plus" aria-hidden="true"></i> Add
      </button>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <h4 class="title text-primary">Discounts</h4>
    </div>
    <div class="card-body">
      <tabset>
        <tab heading="Enable" id="tab1" (select)="getDiscounts(currentPage, pageSize, 1)">
          <div class="row mt-2">
            <div class="col">

              <table class="table table-hover">
                <thead class="text-info">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Price require</th>
                  <th scope="col" class="text-danger">Discount</th>
                  <th scope="col" class="text-center">Date</th>
                  <th scope="col" class="text-center">Time</th>
                  <th scope="col" class="text-center">Enable</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody class="large">
                <tr
                  *ngFor="let discount of discounts | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
                  <td><b>{{discount.name}}</b></td>
                  <td>{{discount.price_requried | currency:'USD':true}}</td>
                  <td>
                    <div *ngIf="!discount.value ||discount.value==0">{{discount.percentage_value}}%</div>
                    <div *ngIf="!discount.percentage_value || discount.percentage_value==0">{{discount.value |
                      currency:'USD':true}}
                    </div>
                  </td>
                  <td class="text-center">{{discount.date_from | date: 'dd/MM'}} - {{discount.date_to | date:
                    'dd/MM'}}
                  </td>
                  <td class="text-center">{{discount.time_from | date:'shortTime'}} - {{discount.time_to |
                    date:'shortTime'}}
                  </td>

                  <td class="text-center">
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="discount.enable"
                             (click)="changeEnableStatus(discount.id, discount.enable)">
                      <span class="slider round"></span>
                    </label>
                  </td>

                  <td class="text-center">
                    <button type="button" class="btn btn-warning" (click)="openEditDiscountModal(discount.id)">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(discount.id)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <pagination-controls (pageChange)="getDiscounts($event, this.pageSize)"
                               class="text-center"></pagination-controls>
        </tab>

        <tab (select)="getDiscounts(currentPage, pageSize, 0)">
          <ng-template tabHeading>Disable</ng-template>
          <div class="row mt-2">
            <div class="col">

              <table class="table table-hover">
                <thead class="text-info">
                <tr class="d-flex">
                  <th class="col">Price require</th>
                  <th class="col text-danger">Discount</th>
                  <th class="col text-center">Date</th>
                  <th class="col text-center">Time</th>
                  <!--<th class="col">Except special day</th>-->
                  <th class="col">Name</th>
                  <th class="col text-center">Action</th>
                </tr>
                </thead>
                <tbody class="large">
                <tr class="d-flex"
                    *ngFor="let discount of discounts | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
                  <td class="col">{{discount.price_requried | currency:'USD':true}}</td>
                  <td *ngIf="!discount.value ||discount.value==0" class="col">{{discount.percentage_value}}%</td>
                  <td *ngIf="!discount.percentage_value || discount.percentage_value==0" class="col">{{discount.value |
                    currency:'USD':true}}
                  </td>
                  <td class="col text-center">{{discount.date_from | date: 'dd/MM'}} - {{discount.date_to | date:
                    'dd/MM'}}
                  </td>
                  <td class="col text-center">{{discount.time_from | date:'shortTime'}} - {{discount.time_to |
                    date:'shortTime'}}
                  </td>
                  <td class="col"><b>{{discount.name}}</b></td>
                  <td class="col text-center">
                    <button type="button" class="btn btn-danger" (click)="openEditDiscountModal(discount.id)">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>

                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(discount.id)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <pagination-controls (pageChange)="getDiscounts($event, this.pageSize)"
                               class="text-center"></pagination-controls>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!---------------------------------------Modal--------------------------------------->

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-danger">Disable</h2>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="disableDiscount(selectedDiscountId, 0)">Yes</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #editDiscountModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">New Discount</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="rForm" (ngSubmit)="updateDiscount(rForm.value)">
          <div formGroupName="discount">
            <div class="row">
              <div class="col">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Name</label>
                  <input type="text" class="form-control" formControlName="name" [(ngModel)]="discount.name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Price required</label>
                  <input type="text" class="form-control" formControlName="price_requried"
                         [(ngModel)]="discount.price_requried">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Percent:</label>
                  <input type="text" class="form-control" formControlName="percentage_value"
                         [(ngModel)]="discount.percentage_value">
                </div>
              </div>

              <div class="col">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Direct: </label>
                  <input type="text" class="form-control" formControlName="value" [(ngModel)]="discount.value">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col form-group">
                <label class="control-label">From: </label>
                <input type="text"
                       class="form-control"
                       #dp="bsDatepicker"
                       [(ngModel)]="discount.date_from"
                       bsDatepicker [(bsValue)]="bsDateFrom"
                       formControlName="date_from"
                       [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                >
              </div>

              <div class="col form-group">
                <label class="control-label">To: </label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="discount.date_to"
                       #dp="bsDatepicker"
                       bsDatepicker [(bsValue)]="bsDateTo"
                       formControlName="date_to"
                       [bsConfig]="{ dateInputFormat: 'DD/MMYYYY' }"
                >
              </div>
            </div>

            <div class="row">
              <div class="col form-group">
                <label class="control-label">From: </label>
                <timepicker [(ngModel)]="discount.time_from" formControlName="time_from"></timepicker>
              </div>

              <div class="col form-group">
                <label class="control-label">To: </label>
                <timepicker [(ngModel)]="discount.time_to" formControlName="time_to"></timepicker>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeEditDiscountModal()">Close</button>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
