<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form [formGroup]="searchForm" (ngSubmit)="searchFoods(searchForm.value)">
        <div class="input-group">
          <input type="text" class="form-control" formControlName="search_string" placeholder="Search">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-search btn-primary">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-success pull-right" (click)="openAddNewGroupModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> New Group
      </button>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header">
      <h4 class="title text-primary">Categories</h4>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead class="text-info">
        <tr class="d-flex">
          <th class="col">Category name</th>
          <th class="col text-center">Action</th>
        </tr>
        </thead>
        <tbody class="large">
        <tr class="d-flex"
            *ngFor="let group of groups | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
          <td class="col h4">{{group.name}}</td>
          <td class="col text-center">
            <button type="button" class="btn btn-warning" (click)="openEditGroupModal(group.id)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(group.id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="getDiscounts($event, this.pageSize)"
                         class="text-center"></pagination-controls>
  </div>
</div>

<!---------------------------------------Modal--------------------------------------->
<div bsModal #addNewGroupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">New Category</h4>
      </div>
      <form [formGroup]="categoryForm" (ngSubmit)="addGroup(categoryForm.value)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeAddNewGroupModal()">Close
          </button>
          <button type="submit" class="btn btn-success">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #editGroupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">Edit Category</h4>
      </div>
      <form [formGroup]="categoryForm" (ngSubmit)="updateCategory(categoryForm.value)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Category name</label>
                <input type="text" class="form-control" [(ngModel)]="group.name" formControlName="name">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeEditGroupModal()">Close
          </button>
          <button type="submit" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-danger">Delete</h2>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteGroup(selectedCategoryId)">Yes</button>
      </div>
    </div>
  </div>
</div>
