<div class="card-scene">
  <div class="row">
    <div class="col-3">
      <div class="form-group form-black label-floating is-empty">
        <label class="control-label">How many lines in this room?</label>
        <input type="text" [(ngModel)]="line" class="form-control">
      </div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-success margin-top-27" (click)="createColumn()">OK</button>
    </div>
  </div>

  <img src="../../../assets/img/door.png" alt="Door" height="42" width="42">

  <smooth-dnd-container
    [orientation]="'horizontal'"
    (drop)="onColumnDrop($event)"
    [dragHandleSelector]="'.column-drag-handle'"
  >
    <smooth-dnd-draggable *ngFor="let column of scene.children">
      <div [ngClass]="column.props.className">
        <div class="card-column-header">
          <span class="column-drag-handle">&#x2630;</span>
          {{column.name}}
        </div>
        <smooth-dnd-container
          [groupName]="'col'"
          (drop)="onCardDrop(column.id, $event)"
          [getChildPayload]="getCardPayload(column.id)"
          [dragClass]="'card-ghost'"
          [dropClass]="'card-ghost-drop'"
          (dragStart)="log('drag start', $event)"
          (dragEnd)="log('drag end', $event)"
        >
          <smooth-dnd-draggable *ngFor="let card of column.children">
            <div [ngClass]="card.props.className" [ngStyle]="card.props.style">
              <p>
                {{card.tableName}}
              </p>
            </div>
          </smooth-dnd-draggable>
        </smooth-dnd-container>
      </div>
    </smooth-dnd-draggable>
  </smooth-dnd-container>
</div>

<div class="col-3">
  <button type="button" class="btn btn-success" (click)="updateTablePostion()">Update</button>
</div>
