<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="text-primary">{{room.name}}</h2>
    </div>
    <div class="col">
      <button type="button" class="btn btn-success pull-right ml-2" (click)="openAddNewTableModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> New Table
      </button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h4 class="title text-primary">{{totalTables}} Tables </h4>
            </div>
            <div class="col">
              <button type="button" class="btn btn-success pull-right" (click)="navigateToTableArragement()">
                <i class="fa fa-plus" aria-hidden="true"></i> Arrangement
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="text-info">
            <tr>
              <th scope="col" class=" text-center">Name</th>
              <th scope="col" class=" text-center">Capacity</th>
              <th scope="col" class=" text-center">Action</th>
            </tr>
            </thead>
            <tbody class="large">
            <tr
              *ngFor="let table of tables | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems}">
              <td class="text-center">
                <b>{{table.name}}</b>
              </td>
              <td class="text-center">{{table.capacity}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-warning" (click)="openEditTableModal(table.id)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="openDeleteModal(table.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #addNewTableModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">New Table</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="rForm" (ngSubmit)="addTable(rForm.value)">
          <div class="row">
            <div class="col">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Table name:</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>

            <div class="col">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Capacity:</label>
                <input type="text" class="form-control" formControlName="capacity" value="4">
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeAddNewTableModal()">Close</button>
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-danger">Delete</h2>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteTable(selectedTableId)">Yes</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #editTableModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">Update Table</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="rForm" (ngSubmit)="updateTable(rForm.value)">
          <div class="row">
            <div class="col">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Table name:</label>
                <input type="text" class="form-control" [(ngModel)]="table.name" formControlName="name">
              </div>
            </div>

            <div class="col">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Capacity:</label>
                <input type="text" class="form-control" [(ngModel)]="table.capacity" formControlName="capacity" value="4">
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeEditTableModal()">Close</button>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
