<div class="card">
  <div class="card-header">
    <h4 class="title text-primary">Kitchen</h4>
  </div>
  <div class="card-body">

    <div class="row mt-2">
      <div class="col waiting-table">
        <h2 class="text-center">Waiting</h2>
        <h3 class="text-center">{{totalWaitingFoods}}</h3>

        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Start time</th>
            <th scope="col">Note</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
          </thead>
          <tbody
            *ngFor="let waiting_food of waiting_foods | async "
            class="large">
          <tr>
            <td class="h4">{{waiting_food.id}}</td>
            <td class="h4 text-danger">{{waiting_food.name}}</td>
            <td class="h4">{{waiting_food.amount}}</td>
            <td class="h4">{{waiting_food.time.seconds * 1000 | date:'shortTime' }}</td>
            <td class="h4">{{waiting_food.note}}</td>
            <td class="text-center">
              <button type="button" class="btn btn-success" (click)="updateStatusFood(waiting_food.id, 1)">
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
              <button class="btn btn-danger" (click)="updateStatusFood(waiting_food.id, 4)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <!--<button class="btn btn-info btn-fill btn-wd" name="btnActivateSpeechSearchMovie"-->
        <!--id="btnActivateSpeechSearchMovie" (click)="activateSpeech()"-->
        <!--[disabled]="!showSearchButton">-->
        <!--Enable Speech-->
        <!--</button>-->
      </div>

      <div class="col">
        <h2 class="text-center">Cooking</h2>
        <h3 class="text-center">{{totalCookingFoods}}</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Start time</th>
            <th scope="col">Note</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
          </thead>
          <tbody *ngFor="let cooking_food of cooking_foods | async" class="large">
          <tr>

            <td class="h4">{{cooking_food.id}}</td>
            <td class="h4 text-success">{{cooking_food.name}}</td>
            <td class="h4">{{cooking_food.amount}}</td>
            <td class="h4">{{cooking_food.time.seconds * 1000 | date:'shortTime' }}</td>
            <td class="h4">{{cooking_food.note}}</td>
            <td class="text-center">
              <button type="button" class="btn btn-success" (click)="updateStatusFood(cooking_food.id, 2)">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
              <button class="btn btn-danger" (click)="updateStatusFood(cooking_food.id, 4)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
