// Here you can add other styles
.nav-pills > li > button {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555555;
  transition: all .3s;
}

.nav-pills:not(.nav-pills-icons) > li > button {
  border-radius: 30px;
}

// 'All Foods' button
.nav-pills:not(.nav-pills-icons) > button {
  border-radius: 30px;
}

.nav-pills:not(.nav-pills-icons) > ul > button {
  border-radius: 30px;
}

.nav-pills.nav-pills-info > li.active > button, .nav-pills.nav-pills-info > li.active > button:focus, .nav-pills.nav-pills-info > li.active > button:hover {
  background-color: #00bcd4;
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.bs-datepicker {
  z-index: 1151 !important;
}

.table-pagination {
  clear: both;
}

.waiting-table {
  border-right-style: solid;
  border-width: 1px;
}

.selected {
  background-color: #00bcd4;
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.list-group-item {
  padding: 0;
}

.btn {
  border-radius: 5px;
}

.btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fixed-summary {
  position: fixed;
  width: 100%;
}

.summary-discount-title {
  font-family: 'Josefin Slab', serif;
}

.table th {
  border-top: 0;
}

.btn-group {
  .btn {
    border-radius: 0;
  }
}

ul {
  padding-left: 15px;
}

.dragging {
  background-color: yellow;
}

.card-scene {
  padding: 50px;
  overflow: auto;

  /* background-color: #fff; */
}

.card-container {
  width: 190px;
  padding: 10px;
  margin: 5px;
  margin-right: 45px;
  background-color: #f3f3f3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.card {
  margin: 5px;
  /* border: 1px solid #ccc; */
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.card-column-header {
  font-size: 18px;
}

.column-drag-handle {
  cursor: move;
  padding: 5px;
}

.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(5deg)
}

.card-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg)
}

.opacity-ghost {
  transition: all .18s ease;
  opacity: 0.8;
  /* transform: rotateZ(5deg); */
  background-color: cornflowerblue;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
}

.opacity-ghost-drop {
  opacity: 1;
  /* transform: rotateZ(0deg); */
  background-color: white;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.0);
}


