<div class="container-fluid center w-80">
  <h2>Create discount</h2>
  <div class="row">
    <div class="col-8">
      <form [formGroup]="rForm" (ngSubmit)="addDiscount(rForm.value)">
        <div formGroupName="discount">
          <div class="card">
            <div class="card-body">
              <h3>Info</h3>

              <div class="row">
                <div class="col">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Discount name</label>
                    <input type="text" class="form-control" formControlName="name">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3>Applies To</h3>
              <div class="row">
                <div class="col-6">
                  <div class="form-group form-black label-floating is-empty ml-2">
                    <div class="col-md-9 col-form-label" *ngFor="let appliedOption of appliedOptions, let i = index">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" value="{{i}}" formControlName="discount_style_id"
                               id="option{{i}}" name="discount_style_id">
                        <label class="form-check-label" for="option{{i}}">
                          {{appliedOption}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="rForm.value.discount.discount_style_id == '1'">
                <div class="col">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Foods">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-search btn-primary" (click)="openAssignFoodModal()">
                        Browse
                      </button>
                    </div>
                  </div>

                  <div class="mt-2">
                  <span *ngFor="let food of finalSelectedFoods">
                    <span class="btn-group">
                      <button type="button" class="btn btn-default">{{food.name}}</button>
                      <button type="button" class="btn btn-danger" (click)="removeFoodFromList(food.id)">
                        <span class="caret"><i class="fa fa-minus" aria-hidden="true"></i></span>
                      </button>
                    </span>
                  </span>
                  </div>

                </div>
              </div>

              <div class="row" *ngIf="rForm.value.discount.discount_style_id == '2'">
                <div class="col">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Foods">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-search btn-primary" (click)="openAssignComboModal()">
                        Browse
                      </button>
                    </div>
                  </div>

                  <div class="mt-2">
                  <span *ngFor="let combo of finalSelectedCombos">
                    <span class="btn-group">
                      <button type="button" class="btn btn-default">{{combo.name}}</button>
                      <button type="button" class="btn btn-danger" (click)="removeComboFromList(combo.id)">
                        <span class="caret"><i class="fa fa-minus" aria-hidden="true"></i></span>
                      </button>
                    </span>
                  </span>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3>Options</h3>

              <div class="row">
                <div class="col-6" *ngIf="rForm.value.discount.discount_style_id == '0'">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Price require</label>
                    <input type="text" class="form-control" formControlName="price_requried">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group label-floating has-success">
                    <label class="control-label">Discount type:</label>
                    <select class="form-control" formControlName="selectedType">
                      <option *ngFor="let discountType of discountTypes, let i = index" value="{{i}}">{{discountType}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col" *ngIf="rForm.value.discount.selectedType == '0'">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Percent value</label>
                    <input type="text" class="form-control" formControlName="percentage_value">
                  </div>
                </div>

                <div class="col" *ngIf="rForm.value.discount.selectedType == '1'">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Cash value</label>
                    <input type="text" class="form-control" formControlName="value">
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-body">
              <h3>Active dates</h3>

              <div class="row">
                <div class="col form-group">
                  <label class="control-label">Start date: </label>
                  <input type="text"
                         class="form-control"
                         #dp="bsDatepicker"
                         [(ngModel)]="bsDateFrom"
                         bsDatepicker [(bsValue)]="bsDateFrom"
                         formControlName="date_from"
                         [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                  >
                </div>

                <div class="col form-group">
                  <label class="control-label">End date: </label>
                  <input type="text"
                         class="form-control"
                         #dp="bsDatepicker"
                         bsDatepicker [(bsValue)]="bsDateTo"
                         formControlName="date_to"
                         [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                  >
                </div>
              </div>

              <div class="row">
                <div class="col form-group">
                  <label class="control-label">Start time: </label>
                  <timepicker [(ngModel)]="bsTimeFrom" formControlName="time_from"></timepicker>
                </div>

                <div class="col form-group">
                  <label class="control-label">End time: </label>
                  <timepicker [(ngModel)]="bsTimeTo" formControlName="time_to"></timepicker>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeAddNewDiscountModal()">Close</button>
          <button type="submit" class="btn btn-success">Create</button>
        </div>
      </form>
    </div>

    <div class="col">
      <div class="card fixed-summary">
        <div class="card-body">
          <h3>Summary</h3>
          <h4 class="summary-discount-title ml-2">{{rForm.value.discount.name}}</h4>
          <ul *ngIf="infoIsEntered()">
            <li class="ml-3" *ngIf="rForm.value.discount.price_requried">Minium purchase of
              ${{rForm.value.discount.price_requried}}
            </li>
            <li class="ml-3" *ngIf="rForm.value.discount.percentage_value">{{rForm.value.discount.percentage_value}}%
              off entire order
            </li>
            <li class="ml-3" *ngIf="rForm.value.discount.value">{{rForm.value.discount.value}}$
              off entire order
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------Modal--------------------------------------->

<div bsModal #assignFoodModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">Select foods</h4>
      </div>

      <div class="modal-body">
        <form [formGroup]="searchForm" (ngSubmit)="searchFoods(searchForm.value)">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="search_string" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-search btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>

        <div class="row mt-4">
          <div class="col">
            <ul class="nav nav-pills nav-pills-info">
              <button [class.selected]="selectedGroup == 0"
                      class="btn btn-default mr-1" data-toggle="tab" (click)="getFoods(FIRST_PAGE, pageSize)">All Foods
              </button>

              <li *ngFor="let group of groups">
                <button [class.selected]="group === selectedGroup"
                        class="btn btn-default mr-1" data-toggle="tab" (click)="onSelect(group)">{{group.name}}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody class="large">
          <tr
            *ngFor="let food of foods | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
            <td><input type="checkbox" [(ngModel)]="food.checked" (change)="checkStatus($event, food)"></td>
            <td>
              <b>{{food.name}}</b>
            </td>
            <td>{{food.price | currency:'USD':true}}</td>
          </tr>
          </tbody>
        </table>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeAssignFoodModal()">Close</button>
          <button type="submit" class="btn btn-success" (click)="saveStatus()">Assign</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #assignComboModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">Select combos</h4>
      </div>

      <div class="modal-body">
        <form [formGroup]="searchForm" (ngSubmit)="searchFoods(searchForm.value)">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="search_string" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-search btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>

        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody class="large">
          <tr
            *ngFor="let combo of combos | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
            <td><input type="checkbox" [(ngModel)]="combo.checked" (change)="checkComboStatus($event, combo)"></td>
            <td>
              <b>{{combo.name}}</b>
            </td>
            <td>{{combo.price | currency:'USD':true}}</td>
          </tr>
          </tbody>
        </table>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeAssignComboModal()">Close</button>
          <button type="submit" class="btn btn-success" (click)="saveComboStatus()">Assign</button>
        </div>
      </div>
    </div>
  </div>
</div>
