<div class="background">
  <div class="container">
    <div class="wrapper">
      <div class="row">
        <div class="mx-auto">
          <h1 class="text-primary mb-4 ">Login</h1>
        </div>
      </div>

      <form [formGroup]="lForm" (ngSubmit)="LoginUser(lForm.value)">
        <div class="row">
          <div class="mx-auto">
            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input formControlName="email" type="text" class="form-control input-lg"
                     placeholder="Email">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input formControlName="password" type="password" class="form-control input-lg"
                     placeholder="Password">
            </div>

            <div *ngIf="titleAlert!=''" class="input-group mb-4">
              <div class="alert alert-danger"
                   *ngIf="(!lForm.controls['password'].valid && lForm.controls['password'].touched ) || ( !lForm.controls['username'].valid && lForm.controls['username'].touched )">
                {{ titleAlert }}
              </div>
            </div>
            <div *ngIf="error!=''" class="input-group mb-4">
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mx-auto">
            <button type="submit" value="Login Account" class="btn btn-primary px-4">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
