.container{
  position: fixed;
  top: 30%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;

}

.wrapper {	
	margin-top: -50px;
  margin-bottom: -50px;
  padding: 15px 55px 45px ;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  max-width: 400px;

}
