<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-success pull-right ml-2" (click)="openAddNewRoomModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> New Floor
      </button>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <h4 class="title text-primary">Floors</h4>
    </div>
    <div class="card-body">
      <div class="row mt-2">
        <div class="col">
          <table class="table table-hover">
            <thead class="text-info">
            <tr>
              <th scope="col">Name</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody class="large">
            <tr
              *ngFor="let room of rooms | paginate: {itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
              <td class="h4"><a [routerLink]="[room.id, 'tables']">{{room.name}}</a></td>
              <td class="text-center">
                <button type="button" class="btn btn-warning" (click)="openEditRoomModal(room.id)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="openDeleteModal(room.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="getSets($event, this.pageSize)"
                               class="text-center"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------Modal--------------------------------------->

<div bsModal #addNewRoomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">New Floor</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="rForm" (ngSubmit)="addRoom(rForm.value)">
          <div formGroupName="room">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Name</label>
                  <input type="text" class="form-control" formControlName="name">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeAddNewRoomModal()">Close
            </button>
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-danger">Delete</h2>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteRoom(selectedRoomId)">Yes</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #editRoomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">Update Floor</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="rForm" (ngSubmit)="updateRoom(rForm.value)">
          <div formGroupName="room">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Name</label>
                  <input type="text" class="form-control" [(ngModel)]="room.name" formControlName="name">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeEditRoomModal()">Close
            </button>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
